<!DOCTYPE html>
<html>
  <head>
    <title>Viewer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="drop-60">
      <div class="container">
        <%= yield %>
      </div>

        <%= render 'layouts/footer' %>

    </div>
  </body>
</html>




<!--<div class="container">-->
<!--</div>-->